.container {
  background-color: white;
  border: 1px solid $light-brown;
  box-shadow: 12px 16px 16px -3px rgba(0,0,0,0.14);
  -webkit-box-shadow: 12px 16px 16px -3px rgba(0,0,0,0.14);
  -moz-box-shadow: 12px 16px 16px -3px rgba(0,0,0,0.14);
  font-family: $font-stack;
  font-size: $m-size;
  margin: $module * 3 auto 0;
  padding: $m-size $l-size;
  width: $module * 12;

  h3 {
    border-bottom: 1px solid $light-brown;
    color: $medium-brown;
    font-weight: 300;
    font-size: $l-size;
    margin: $s-size 0;
    padding-bottom: $s-size;
    text-align: center;
    text-transform: lowercase;
  }

  h4 {
    font-weight: 300;
  }
}


.footer-buttons {
  border-top: 1px solid $medium-blue;
  display: flex;
  font-size: $s-size;
  justify-content: space-between;
  padding-top: $s-size * .5;

  button {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid white;
    outline: none;

    &:hover {
      border-bottom: 2px solid $medium-purple;
    }
  }
}