.list {

  h4 {
    font-size: $m-size * 1.2;
    text-transform: lowercase;
  }

  ul {
    padding: 0;

    li {
      border-bottom:  1px solid $light-brown;
      border-left: 5px solid $medium-purple;
      font-weight: 300;
      list-style-type: none;
      margin-bottom: $s-size * .5;
      padding: $s-size * .5;
      position: relative;

      &:hover {
        background-color: $off-white;
      }
    }
  }
}

.completed-list {
  li {
    text-decoration: line-through;
  }

}

.list-buttons {
  display: inline-block;
  position: absolute;
  right: 0;

  button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    outline: none;
    width: $module;
  }
}