// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// box sizing
$module: 3rem;

// fonts
$font-stack: 'Muli', sans-serif;

// colors
$dark-blue: #252a48;
$medium-blue: #5a6caf;
$off-white: #f9f9f9;
$medium-brown: #9e9181;
$light-brown: #d4c8bc;
$medium-purple: #ea3e70;